
#root {
  height: 100%;
  background-image: url('./lll/bk.jpg');
  background-size: 100% 100%;
  text-align: center;
  transition: opacity 2s;
}



.barrage{position: fixed;bottom:70px;right:-600px;display: inline-block;width: 600px;z-index: 99999}
.barrage_box{background-color: rgba(0,0,0,.5);padding-right: 8px; min-height: 40px;display: inline-block;border-radius: 25px;transition: all .3s;}
.barrage_box .portrait{ display: inline-block;margin-top: 4px; margin-left: 4px; width: 32px;margin-bottom:-35px;height: 32px;border-radius: 50%;overflow: hidden;}
.barrage_box .portrait img{width: 100%;height: 100%;}
.barrage_box div.p {width: 100%;}
.barrage_box div.p a{display:inline-block;margin-right: 2px; font-size: 17px;color: #fff;line-height: 40px;margin-left: 40px; }
.barrage_box div.p a:hover{text-decoration: underline;}
.barrage_box .close{visibility: hidden;opacity: 0; text-align: center; width:25px;height: 25px;margin-left: 20px;border-radius: 50%;background:rgba(255,255,255,.1);margin-top:8px; background-image: url(close.png);}
.barrage_box:hover .close{visibility:visible;opacity: 1;}
.barrage_box .close a{display:block;}
.barrage_box .close .icon-close{font-size: 14px;color:rgba(255,255,255,.5);display: inline-block;margin-top: 5px; }
.barrage .z {float: left !important;}
.barrage  a{text-decoration:none;}

.iframe-ppt {
  width:92%;
  height:90%;
  margin-top:2rem;
}

.presentation img {
  width:100%;
  height:100%;
}

.samples {
  height:100vh;
  overflow: hidden;
}

.samples div {
  text-shadow: 0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-family: 'League Gothic',Impact,sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  width:100%;
  height:100%;
  line-height:285px;
  float:left;
  overflow: hidden;
}

.background-5 {
  background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}

.samples {clear:both;}


.bulb {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 4.2vmin;
  line-height: 4.7vmin;
  color: rgba(255,255,255,0.6);
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(66,39,71,1);
  background: -moz-linear-gradient(top, rgba(66,39,71,1) 0%, rgba(43,25,46,1) 73%, rgba(19,11,20,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,39,71,1)), color-stop(73%, rgba(43,25,46,1)), color-stop(100%, rgba(19,11,20,1)));
  background: -webkit-linear-gradient(top, rgba(66,39,71,1) 0%, rgba(43,25,46,1) 73%, rgba(19,11,20,1) 100%);
  background: -o-linear-gradient(top, rgba(66,39,71,1) 0%, rgba(43,25,46,1) 73%, rgba(19,11,20,1) 100%);
  background: -ms-linear-gradient(top, rgba(66,39,71,1) 0%, rgba(43,25,46,1) 73%, rgba(19,11,20,1) 100%);
  background: linear-gradient(to bottom, rgb(71, 15, 21) 0%, rgb(46, 14, 41) 35%, rgba(19,11,20,1) 100%);
  display: none;
}
a {
  color: rgba(255,255,255,0.6);
}
#lampadario {
  position: fixed;
  left: 50%;
  top: 0;
}
#filo {
  position: relative;
  background-color: #000000;
  width: 2px;
  height: 150px;
  left: 50%;
  margin-left: -1px;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
  -moz-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
  -ms-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
  -o-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
  animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
}
#filo:after {
  content: " ";
  left: -5px;
  top: 100%;
  position: absolute;
  border-bottom: 15px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 4px;
}
#lampadina {
  position:relative;
}
.bulbInput[value="off"]:checked ~
#filo {
  -webkit-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
  -ms-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
  -o-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
  box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}
.bulbInput[value="off"]:checked ~
#filo:after {
  -webkit-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
  -moz-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
  -ms-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
  -o-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
  box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}

.bulbInput {
  position: absolute;
  width: 90px;
  height: 70px;
  top: 150px;
  margin-left:-45px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.bulbInput[value="on"] {
  top: 150px;
}
.bulbInput[value="off"] {
  top: -100px;
}
.bulbInput[value="on"]:checked {
  top: -100px;
}
.bulbInput[value="on"]:checked + .bulbInput[value="off"] {
  top: 150px;
}

label {
  width: 51px;
  height: 51px;
  top: 164px;
  position: absolute;
  left: 0;
  margin-left: -24px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
  -moz-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
  -ms-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
  -o-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
  animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
}
.bulbInput[value="off"]:checked ~
label {
  background: rgba(255,255,255,0.03);
  -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}
.bulbInput[value="on"]:checked ~
label {
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
  -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
  -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6), 10px 150px 120px 360px rgba(255, 255, 255, 0.7);
}

.bulbInput[value="off"]:checked ~
label:after {
  content: " ";
  width: 15px;
  height: 15px;
  top: 0;
  position: absolute;
  left: 0;
  margin-left: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(255,255,255,0.03);
}
#sorpresa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.bulbInput[value="off"]:checked ~
#lampadina #sorpresa {
  opacity: 0;
}
.bulbInput[value="on"]:checked ~
#lampadina #sorpresa {
  opacity: 1;
}
#footer {
  position: fixed;
  width: 94%;
  text-align: center;
  bottom: 30%;
  padding: 0 3%;
  z-index:1;
}
#shadow {
  position: fixed;
  width: 94%;
  text-align: center;
  bottom: 29%;
  padding: 0 3%;
  color:rgba(0,0,0,0);
  -webkit-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -ms-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -o-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -webkit-transform-origin: 50% 0px;
  -moz-transform-origin: 50% 0px;
  -ms-transform-origin: 50% 0px;
  -o-transform-origin: 50% 0px;
  transform-origin: 50% 0px;
  -webkit-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
  -moz-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
  -ms-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
  -o-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
  animation: ombraTesto .9s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes oscillaFilo {
  from {
    -webkit-transform:rotate(5deg);
  } to {
      -webkit-transform:rotate(-5deg);
    }
}
@-moz-keyframes oscillaFilo {
  from {
    -moz-transform:rotate(5deg);
  } to {
      -moz-transform:rotate(-5deg);
    }
}
@-ms-keyframes oscillaFilo {
  from {
    -ms-transform:rotate(5deg);
  } to {
      -ms-transform:rotate(-5deg);
    }
}
@-o-keyframes oscillaFilo {
  from {
    -o-transform:rotate(5deg);
  } to {
      -o-transform:rotate(-5deg);
    }
}
@keyframes oscillaFilo {
  from {
    transform:rotate(5deg);
  } to {
      transform:rotate(-5deg);
    }
}

@-webkit-keyframes oscillaLampadina {
  from {
    -webkit-transform: rotate(3deg) translate(-16.4px,-1px);
  } to {
      -webkit-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-moz-keyframes oscillaLampadina {
  from {
    -moz-transform: rotate(3deg) translate(-16.4px,-1px);
  } to {
      -moz-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-ms-keyframes oscillaLampadina {
  from {
    -ms-transform: rotate(3deg) translate(-16.4px,-1px);
  } to {
      -ms-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-o-keyframes oscillaLampadina {
  from {
    -o-transform: rotate(3deg) translate(-16.4px,-1px);
  } to {
      -o-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@keyframes oscillaLampadina {
  from {
    transform: rotate(3deg) translate(-16.4px,-1px);
  } to {
      transform: rotate(-3deg) translate(16.4px,-1px);
    }
}

@-webkit-keyframes ombraTesto {
  from {
    -webkit-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
  } to {
      -webkit-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-moz-keyframes ombraTesto {
  from {
    -moz-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
  } to {
      -moz-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-ms-keyframes ombraTesto {
  from {
    -ms-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
  } to {
      -ms-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-o-keyframes ombraTesto {
  from {
    -o-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
  } to {
      -o-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@keyframes ombraTesto {
  from {
    transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
  } to {
      transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}


